footer {
    background-color: #dadde2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    text-align: center;
    .top {
      padding: 1rem;
  
      p {
        margin-bottom: 1rem;
      }
      .links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        a {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }
    .bottom {
      text-align: center;
      padding: 1rem;
      background-color: #ffa500;
    }
}